/*---------  index, headera apod.  --------------*/
html,
body {
  margin: 0;
}

html {
  font-family: "helvetica neun", sans-serif;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eaeaeb;
  background-color: rgb(230, 255, 204);
  /* No space between breadcrumb and navigation */
  margin: 0 0 -16px 0;
}

.container-nav > .logo{
  margin: 15px 0 0 5px;
}

.container-nav > .nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
}

/* Activate when mouse hovers over link */
.menu a:hover{
  text-decoration: dashed;
  border-bottom: 3px solid black;
}

span {
  color: #dabb34;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/* Style the list */
ul.breadcrumb {
  list-style: none;
  background-color: #eee;
  margin-left: -20px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 4px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    flex-basis: auto;
    flex-shrink: 3;
    position: relative;
    border-bottom: 1px solid #eaeaeb;
    font-size: 17px;
    background-color: #ddd;
    padding: 12px 16px;
    max-width: 130px;
    min-width: 50px;
  }
  #toggle:checked + .menu {
    display: flex;
    flex-direction: column;
  }
}

/*--------- Produkty --------------*/

/* Hlavní flex kontejner pro main */
main.container-produkty {
  display: flex;
  flex-direction: column;
  /* margin-top, margin-right, margin-bottom, and margin-left */
  margin: 0 15px 0 15px;
}

 
.container-produkty > div {
  margin: 10px;
  padding: 20px;
}

/* Vytvoření dalších flexboxů uvnitř v flexboxu main */
div.item {
  display: flex;
  flex-direction: row;
  flex: 0 1 0;
}

/* Jen pro kategorie */
div.kategorie {
  justify-content: space-around;
}

div.kategorie a {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  text-decoration: none;
  border-bottom: 1px solid #eaeaeb;
  background-color: #ddd;
  padding: 8px 10px;
  /* flex: <flex-grow> -jak moc může růst <flex-shrink> - jestli se může zmenšovat <flex-width> - optimální velikost předtím, než je značka dána do flexboxu */
  flex: 0 1 100px;
}



