body {
  background-color: white;
  font-family: Verdana;
  margin: 0;
}

/* ----------------- Grid layout ------------------ */

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  row-gap: 50px;
  grid-template-rows: auto 2fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/*---------  Header  --------------*/

.header {
  grid-area: header;
  background-color: rgb(230, 255, 204);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

header.header a {
  color: #000;
}

.header ul {
  margin: 10px 0;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  background-color: white;
}

/* Style the search box inside the navigation bar */
.header .menu li input[type="text"] {
  border: 1px black solid;
  width: 97%;
  font-size: 17px;
  padding: 10px;
  margin-top: 10px;
}

.header li a.shopping-cart {
  display: block;
  text-decoration: none;
  color: orange;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  margin: 15px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    background-color: rgb(230, 255, 204);
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /* Style the search box inside the navigation bar */
  .header .menu li input[type="text"] {
    border: none;
    width: 18vh;
  }
}

/* Diana */

h1 {
  color: orange;
  font-size: x-large;
  margin-bottom: 5%;
  margin-top: 5%;
}

h2 {
  color: orange;
  font-size: large;
  margin-bottom: 3%;
  margin-top: 5%;
}

h3 {
  color: orange;
  font-size: medium;
  margin-bottom: 3%;
  margin-top: 5%;
}

p {
  margin-bottom: 1px;
}

form {
  margin-left: 25px;
}

p.right {
  color: darkgreen;
  font-size: large;
  text-align: right;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 5%;
}

s {
  color: black;
  font-weight: normal;
}

img {
  max-width: 200px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

#btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
}

button {
  background-color: forestgreen;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Main */

.grid > main {
  grid-area: main;
  margin: 30px 30px;
}

/* Footer */
.grid > footer {
  grid-area: footer;
  background-color: rgb(230, 255, 204);
  text-align: center;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 5px 10px;
}


.box h3 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem;
}

.box .content {
  margin: 5px 0 0 0;
}

.center {
  border-left: 0.5px gray solid;
  border-right: 0.5px gray solid;
}

.center .content .social {
  margin: 10px 0 0 0;
}

.center .content .social a {
  padding: 0 2px;
}

/* Odkazy na sociální sítě ve footer */
.center .content .social span {
  height: 40px;
  width: 40px;
  background: whitesmoke;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}
/* Změna barvy při přejetí myší */
.center .content .social span:hover {
  color: blue;
  background: lightgray;
}

.right .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right a:hover {
  color: blue;
}

/*--------- Produkty --------------*/

/* Hlavní flex kontejner pro main */
main.container-produkty {
  display: flex;
  flex-direction: column;
  /* margin-top, margin-right, margin-bottom, and margin-left */
  margin: 0 15px 0 15px;
}

.container-produkty > div {
  margin: 10px;
  padding: 20px;
}

/* Vytvoření dalších flexboxů uvnitř flexboxu main */
.item {
  display: flex;
  flex-direction: row;
  flex: 0 1 0;
  border-radius: 8px;
}
/* jen pro produkty */
.produkty {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  margin: 4px;
}

.produkty-img {
  padding: 10px;
  flex: 20%;
  text-align: center;
}

.produkty-text {
  padding: 10px;
  flex: 80%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 550px) {
 .produkty {
    flex-direction: column;
  }
}
/* Jen pro kategorie */
div.kategorie {
  justify-content: space-around;
}

div.kategorie a {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  text-decoration: none;
  border-bottom: 1px solid #eaeaeb;
  background-color: #ddd;
  border-radius: 8px;
  color: green;
  padding: 8px 10px;
  /* flex: <flex-grow> -jak moc může růst <flex-shrink> - jestli se může zmenšovat <flex-width> - optimální velikost předtím, než je značka dána do flexboxu */
  flex: 0 1 100px;
}
